package {{packageName}};

import fluentgenerator.core.Generator;

import java.util.function.Supplier;

public interface {{generatorName}} extends Generator<{{modelName}}> {

    {{#methods}}
    {{generatorName}} {{methodName}}(Supplier<{{argumentType}}> supplier);
    {{/methods}}

    {{modelName}} build();

}
